<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Level #4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Level #4</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <p>Add Angular Reactive <b>Forms</b> and Validators.</p>

    <h1 class="ion-text-center">What are you interested in?</h1>
    <p class="ion-text-center">Select at least 2 options.</p>

    <form [formGroup]="exampleForm" (ngSubmit)="onSubmit()">
      <ion-row>
        <ion-col size="6" formArrayName="interests" *ngFor="let interest of exampleForm.controls.interests.controls; let i=index;">
          <app-custom-checkbox class="custom-checkbox">
            <div class="checkbox-content" [style.--img-src]="interestsList[i].image">
              <ion-label class="checkbox-title"> {{interestsList[i].name}}</ion-label>
              <ion-checkbox class="checkbox-item" [formControl]="interest"></ion-checkbox>
            </div>
          </app-custom-checkbox>
        </ion-col>
      </ion-row>
      <ion-button class="submit-btn" expand="block" type="submit" fill="solid" [disabled]="!exampleForm.valid">SUBMIT</ion-button>
      <div class="error-message-container" *ngIf="!exampleForm.valid">
        <div class="error-message">
          <ion-icon name="information-circle-outline"></ion-icon>
          <span>{{ submitError }}</span>
        </div>
      </div>
      <div class="success-message-container" *ngIf="exampleForm.valid && submitSuccess">
        <div class="success-message">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <span>{{ submitSuccess }}</span>
        </div>
      </div>
    </form>
  </div>
</ion-content>
