<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Level #2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Level #2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <p>Add custom styles and compose with other elements.</p>

    <h1 class="ion-text-center">What are you interested in?</h1>
    <p class="ion-text-center">Pick whatever catches your eye. You can always fine-tune things later.</p>

    <ion-row>
      <ion-col size="6">
        <div class="checkbox-content" [style.--img-src]="'url(https://images.pexels.com/photos/220911/pexels-photo-220911.jpeg?auto=compress&cs=tinysrgb)'">
          <ion-label class="checkbox-title">Food</ion-label>
          <ion-checkbox class="checkbox-item" value="food" checked></ion-checkbox>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="checkbox-content" [style.--img-src]="'url(https://images.pexels.com/photos/6102505/pexels-photo-6102505.jpeg?auto=compress&cs=tinysrgb)'">
          <ion-label class="checkbox-title">Hike</ion-label>
          <ion-checkbox class="checkbox-item" value="hike"></ion-checkbox>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="checkbox-content" [style.--img-src]="'url(https://images.pexels.com/photos/848573/pexels-photo-848573.jpeg?auto=compress&cs=tinysrgb)'">
          <ion-label class="checkbox-title">Travel</ion-label>
          <ion-checkbox class="checkbox-item" value="travel"></ion-checkbox>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="checkbox-content" [style.--img-src]="'url(https://images.pexels.com/photos/3568521/pexels-photo-3568521.jpeg?auto=compress&cs=tinysrgb)'">
          <ion-label class="checkbox-title">Fashion</ion-label>
          <ion-checkbox class="checkbox-item" checked value="fashion"></ion-checkbox>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
