<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Level #1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Level #1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <p>Let's customize Ionic Components by using <b>CSS variables</b> and <b>Shadow Parts</b>.</p>

    <h1 class="ion-text-center">Ion Checkbox</h1>
    <p class="ion-text-center">Check out all the <a href="https://ionicframework.com/docs/api/checkbox#css-custom-properties" target="_blank">CSS Custom Properties</a> and <a href="https://ionicframework.com/docs/api/checkbox#css-shadow-parts" target="_blank">Shadow Parts</a> available for customization.</p>

    <ion-list>
      <ion-list-header>
        <ion-label>CSS Properties</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Raw checkbox</ion-label>
        <ion-checkbox slot="start" checked></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Background Color</ion-label>
        <ion-checkbox slot="start" style="--background:grey" color="dark"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Border Color</ion-label>
        <ion-checkbox slot="start" style="--border-color:red" color="danger"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Square & Red</ion-label>
        <ion-checkbox slot="start" checked style="--border-radius:0px; --border-color:red; --background-checked:red; --border-color-checked:red;">
        </ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Round</ion-label>
        <ion-checkbox slot="start" color="secondary" style="--border-radius: 50%;"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Checkmark width</ion-label>
        <ion-checkbox slot="start" checked color="secondary" style="--border-radius: 0px; --checkmark-width: 4px;">
        </ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Bigger Size</ion-label>
        <ion-checkbox slot="start" checked color="secondary" style="--size: 40px;"></ion-checkbox>
      </ion-item>

      <ion-list-header>
        <ion-label>Shadow Parts</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Custom Mark Icon</ion-label>
        <ion-checkbox slot="start" class="custom-mark-star" mode="ios"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Custom Mark Icon</ion-label>
        <ion-checkbox slot="start" checked class="custom-mark-plus" mode="ios"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Custom Mark & Animation</ion-label>
        <ion-checkbox #animatedIcon slot="start" class="custom-mark-heart" (ionChange)="animate()" mode="ios">
        </ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
